html{
    box-sizing:border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
html,body{
    height: 100%;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main{
    flex-grow: 1;
}





a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}


.container{
    max-width: 1240px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}
body{
    color: #151618;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal; /* 30px */
    /*font-family: 'Cormorant', serif;*/
    font-family: 'Open Sans', sans-serif;
    position: relative;
}
.title{
    margin-bottom: 60px;
    text-align: center;
    font-family: 'Cormorant', serif;
    font-size: 40px;
    font-weight: 400;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 140px;
}
.logo{
    margin-bottom: 35px;
}
.menu__list{
    display: flex;
    align-items: center;
    gap: 0 65px;
    font-weight: 400;
    font-size: 18px;
    margin-left: 85px;
    position: relative;
    z-index: 3;
}
.mobile-nav, .menu__close{
   display: none;
}

.user-actions{
    display: flex;
    align-items: center;
    gap: 0 20px;
}
.user-actions__item-search{
    margin-left: 80px;
}
.top{
    background-image: url("../images/banner.png");
    background-repeat:no-repeat;
    background-position: bottom left;
    background-size: cover;
    }
.top-inner{
    min-height: 500px;
    color: #ffff;
    display: flex;
    font-family: 'Cormorant',serif;
    font-weight: 400;
    flex-direction: column;
    justify-content: flex-end;
}
.top__title{
    font-family: 'Cormorant',serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
    max-width: 780px;
}
.top__text{
    font-family: 'Cormorant',serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 48px;
    max-width: 560px;
}
.blockquote__text{
    font-family: 'Cormorant',serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
    max-width: 704px;
    margin:150px auto;
}
.menu__btn{
    display: none;
    width: 40px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}
.menu__btn span{
   background-color: #000;
    height:2px;
    width: 100%;
}
button{
    padding:0;
    border: none;
    background-color: transparent;
}

.assortment{
    margin-bottom: 150px;
}
.assortment__list{
    text-align: center;
    display: flex;
    gap: 0 40px;

}
.assortment__img{
   max-width: 208px;
   max-height: 208px;
    width: 100%;
}
.assortment__name{
    padding-top: 10px;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Cormorant', serif;
}
.reviews{
    background-color: #F7F2EA;
    padding: 60px 0;
}
.reviews__list{
    display: flex;
    gap: 0 26px;
    }
.reviews__item{
flex-basis: 280px;
}
.reviews__text{
    font-size: 16px;
    font-style: italic;
    margin-bottom: 10px;
}
.reviews__name{
    font-weight: 600;
}
.main-blog{
  padding: 150px 0;
}
.main-blog__list{
    display: flex;
    flex-wrap: wrap;
    gap: 40px 58px;
}
.main-blog__item{
    flex-basis: 542px;
    display: flex;
    gap: 0 20px;
}
.main-blog__item-title{
  font-family: 'Cormorant', serif;
  font-size: 24px;
  font-weight: 400;
    line-height: normal;
}
.main-blog__item-author{
font-size: 13px;
}
.main-blog__item-link{
    font-size: 13px;
}
.main-blog__item-content{
    display: flex;
    flex-direction: column;
}
.main-blog__item-title{
    font-family: 'Cormorant', serif;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
    min-height: 86px;
}
.main-blog__item-link::after{
    content:'';
    background-image: url("");
    width: 5px;
    height: 10px;
    position: absolute;
    margin-left: 8px;
    bottom: 3px;
}
.main-blog__link{
    padding: 12px 41px;
    display: flex;
    justify-content: center;
    margin:  72px auto 0;
    border: 1px solid #151618;
    width: 150px;

}
.mailing-list{
    padding:100px 0;
    background-image: url("../images/tea.png");
    background-repeat: no-repeat;
    background-color: #F7F2EA;
    background-position: bottom right;
}
.mailing-list__title{
    text-align: left;
    margin-bottom: 50px;
}
.mailing-list-inner{
    display: flex;
    gap: 60px 40px;
}
.mailing-list__text{
    line-height: 1.5;
    flex-basis: 580px;
}
.mailing-list__email{
border: none;
  border-bottom: 1px solid #B8B58B;
    background-color: transparent;
    padding: 3px 15px;
    width: 438px;
    margin-right: 25px;
    font-family: 'Open sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 30px */
    color: #151618;
}

.mailing-list__email::placeholder{
    font-family: 'Open sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 30px */
    color: #B8B58B;
}
.mailing-list__btn{
background-color: white;
    border:1px solid #151618;
    padding: 12px 41px;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

.mailing-list__form{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 580px;
}
.checkbox__text{
    font-size: 13px;
    padding-left: 20px;
}

.mailing-list__label{
margin-top: 16px;
}

.checkbox{
position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0,0,0,0);
    overflow: hidden;
    padding-left: 20px;
}
.checkbox-style{
position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid #151618;
    margin-top: 5px;
}
.checkbox:checked + .checkbox-style::before{
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    background-color: #151618;
    left:1px;
    top: 1px;
}
.prioritise{
    padding: 150px 0;
}
.prioritise__list{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 49px;
}
.prioritise__title{
    margin-bottom: 30px;
    font-weight: 600;
}
.footer{
    padding: 100px 0 20px;
    background-color: #F7F2EA;
}
.footer__inner{
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(4,1fr);

 }
.footer__products-title,
.footer__company-title,
.footer__contacts-title{
    font-weight: 400;
    font-size: 24px;
    font-family: 'Cormorant', serif;
    margin-bottom: 50px;
}
.footer__company-item,
.footer__products-item{
    margin-bottom: 20px;
}
.footer__blockquote-author{
    font-size: 12px;
    font-style: normal;
}




.footer__blockquote{
    margin-top: 80px;
    font-style: italic;
    margin-bottom: 20px;
}
.footer__bottom{
    display: flex;
}
.footer__copy{
   margin-right: 192px;
    font-size: 16px;
}
.partners-logo{
    display: flex;
    gap: 0 20px;
    align-items: center;
}
.footer__nav{
    display: flex;
    flex-wrap: wrap;
}
.footer__nav-logo{
    margin-right: 40px;
}
.footer__nav-phone,
.footer__nav-email{
    font-size: 13px;
    position: relative;
    padding-left: 32px;
    display: block;
    margin-bottom: 20px;

}
.footer__nav-phone::before,
.footer__nav-email:before{
    content: '';
    position: absolute;
    left:0;
    top: 2px;
    width: 22px;
    height: 16px;
    background-image: url("../images/mail.png");
}
.footer__nav-phone::before{
    background-image: url("../images/phone.png");
    width: 21px;
    height: 21px;
}
.footer__nav-contacts{
    margin-top: 20px;
}
.footer__social{
    margin-top: 40px;
    margin-left: 97px;
}
.footer__social-list{
    display: flex;
    align-items: center;
    gap: 0 20px;
    height: 22px;
}
.footer__social-link{
    display: grid;
}
/*responsive settings*/













@media (max-width: 1000px) {

    .reviews__item.reviews__item--hide{
        display: none;
    }
    .assortment__list{
        gap: 0;
    }
    .assortment{
        margin-bottom: 120px;
    }
    .user-actions__item-search{
        margin-left: 30px;
    }
    .menu{
        margin-right: 0;
    }
    .menu__list{
        margin-left: 60px;
    }
    .logo{
        margin-bottom: 0;
    }
    .header__inner{
        min-height: auto;
    }
    .blockquote__text{
       margin-top:120px;
       margin-bottom:135px;
    }
.main-blog{
    padding: 120px 0;
}
.main-blog__item-img{
    max-width: 230px;
}
.main-blog__item{
    flex-basis: 460px;
}
.main-blog__list{
    gap: 67px 20px;
}
.main-blog__link{
    margin-top: 60px;
}
.mailing-list-inner{
    flex-wrap: wrap;
    justify-content: center;
}
.mailing-list{
    padding: 60px 0;
}
.mailing-list__text{
    text-align: center;
    flex-basis: 780px;
}
    .mailing-list__title{
        text-align: center;
    }
.prioritise{
    padding: 120px 0;
}
.prioritise__list{
    gap:30px 210px;
}
.footer__blockquote{
    width: 270px;
}
    .footer__blockquote-text{
        margin-top: 0;
    }
.footer__inner{
    margin-bottom: 55px;
}
.footer__copy{
  margin-right: 85px;
}
.footer__nav-logo{
    margin-right: 35px;
}
.footer__contacts{
    width: 270px;
}


}
@media (max-width: 860px) {
    .menu--close{
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.5);
        z-index: 1;
    }
    .menu--close.menu--open{
        display: block;
    }



    .mobile-nav, .menu__close{
        display: block;
    }
    .menu__list{
        transform: translateY(-100%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 480px;
        margin: 0 auto;
        background-color: #fff;
        display: block;
        text-align: center;
        transition: transform .6s ease;
    }
    .menu__list.menu__list--open{
        transform: translateY(0%);
    }

    .menu__btn{
        display: flex;}
        .menu{
            order:-1;
        }
        .logo{
        margin-left: auto;
        margin-right: 154px;
}
    .menu__close-btn{
        position: absolute;
        top: 20px;
        right: 20px;
    }
.menu__item{
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Cormorant', serif;

}
.menu__btn{
    display: flex;
}
.menu__close{
        padding-top: 50px;
    }
.mobile-menu{
    padding-top: 60px;
    margin: 60px 30px 60px;
    border-top: 2px solid #F7F2EA;
}
.mobile-menu__item{
    margin-bottom: 35px;
}
.mobile-actions{
    background-color: #F7F2EA;
    height: 60px;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
}





@media (max-width: 768px) {
    .reviews__item.reviews__item--hide{
        display: block;
    }
    .reviews__list{
        flex-wrap: wrap;
        gap: 30px 76px;
    }

    .assortment__list{
        gap: 0 6px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .menu__btn{
        display: flex;
    }
    .header__inner{
        padding-left:64px;
        padding-right: 64px;
    }
    .blockquote__text{
        max-width: 640px;
}
    .main-blog__item{
        flex-basis: 542px;
    }
    .main-blog__item-img{
       max-width: 270px;
    }
    .main-blog__list{
        gap:30px 20px;
    }
    .main-blog__item:nth-child(even){
        margin-left: 98px;
    }
    .mailing-list__text{
        flex-basis: 640px;
    }

    .prioritise__list{
        gap: 30px 133px;
    }
    .footer__inner{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr 1fr;
    }
    .footer__products,
    .footer__company{
        grid-row: span  3;
    }
    .footer__contacts{
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .footer__copy{
        margin-right: 120px;
    }
}


@media (max-width: 660px) {
.container{
    padding-left: 10px;
    padding-right: 10px;
}
.header__inner{
    padding-left: 0;
    padding-right: 0;
}
.top__title{
    font-size: 40px;
    line-height: normal;
}
    .blockquote__text{
       font-size: 16px;
        max-width: 376px;
        margin-top: 60px;
        margin-bottom: 60px;

    }

}



@media (max-width: 480px) {
    .reviews__list{
        gap: 30px 20px;
    }
    .menu__list{
        width: 360px;
    }
.logo{
    margin-right: 80px;
    }
.logo img{
    width: 40px;
}
.assortment{
    margin-bottom: 60px;
}
.reviews{
    padding: 50px 0;
}
.reviews__item{
    flex-basis: 220px;
}
.main-blog{
    padding: 60px 0;
}
.main-blog__item-img{
    max-width: 230px;
}
.mailing-list{
    padding: 50px 0;
}
.mailing-list__text{
    flex-basis:100%;
    font-size: 13px;
    }
.mailing-list-inner{
   gap: 30px 0;
}
.mailing-list__email{
    width: 24px;
}
.mailing-list__btn{
    padding: 10px 39px;
}
.prioritise{
 padding: 60px 0;
}
.footer__inner{
    display: flex;
    flex-wrap: wrap;
}
.footer__blockquote{
    width: 100%;
}
.footer__blockquote-text{
    margin-bottom: 10px;
    margin-top: 50px;
}
.footer__contacts{
    margin-top: 50px;
    width: 100%;
}
.footer__contacts-title{
    margin-bottom: 20px;
}
.footer__contacts-text{
    text-align: center;
}
.footer__nav{
    flex-wrap: nowrap;
}
.footer__social{
    margin-left: 30px;
}
.footer__copy{
    margin-right: auto;
    padding-right: 20px;
}
.footer__company{
    padding-right: 20px;
    margin-right: 55px;
}
.footer__products-title,
.footer__company-title{
    margin-bottom: 30px;

}
.footer{
    padding: 50px 0 10px;
}


}
@media (max-width: 360px) {
    .title{
        margin-bottom: 30px;
        font-size: 24px;
    }

    .logo{
        margin-right: 50px;
    }
    .user-actions__item-search{
        margin-left: 0;
    }
.header__inner{
    padding: 10px 0;
}
.top__title{
    font-size: 24px;
    margin-bottom: 10px;
}
.top__text{
    font-size: 13px;
    margin-bottom: 30px;
}
.top-inner{
    min-height: 367px;
}
    .blockquote__text{
        margin-top: 70px;
        line-height: normal;
        max-width: 340px;
        margin-bottom: 80px;
    }
.assortment__img{
    max-width: 170px;
}
    .assortment{
        margin-bottom: 80px;
    }

.reviews__item{
    flex-basis: 100%;
}
.reviews__item:last-child,
.reviews__item:first-child{
    display: none;
}
.main-blog__item{
    display: block;
    max-width: 270px;
}
.main-blog__item img{
max-width: 100%;
    }
 .main-blog__item:nth-child(even){
       display: none;
    }
.main-blog__list{
    justify-content: center;
}
.main-blog__item-title{
    min-height: auto;
}

.mailing-list__email{
    width: 205px;
}
.prioritise{
    padding: 50px 0;
}
.prioritise__text{
    font-weight: 400;
    font-size: 10px;
}
.prioritise__list{
    gap: 40px;
}
.footer__company{
    padding-right: 15px;
    margin-right: 0;
}
.footer__nav{
    flex-wrap: wrap;
    justify-content: center;
}
.footer__products{
    padding-right: 10px;
}
.footer__social{
    margin-left: auto;
    margin-right: auto;
}






}
